<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{HTTP_HOST} ^localhost
    RewriteRule ^(.*)$ app_dev.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{HTTP_HOST} !^localhost
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
